@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
    --bg-dark: #0E091B;
    --text-light: #F9F9F9;
    --color-primary: linear-gradient(220.94deg, #a973ff 14.43%, #6610F2 85.28%);
    --dark: #171228;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

html, body{
    background-color: var(--bg-dark); 
}

header{
    background: var(--color-primary);
    color: var(--text-light);
    height: 60px;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1{
    font-size: 24px;
    font-weight: 700;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

a, a:hover{
    color: unset;
    text-decoration: none;
}

.dsmovie-contact-container{
    display: flex;
    align-items: center; 
}

.dsmovie-contact-container img{
    margin-right: 10px;
}

#dsmovie-card-list{
    padding: 40px 0;
    color: var(--text-light);  
}

.dsmovie-card{
    width: 100%;  
    border-radius: 8px 8px 8px; 
}

.dsmovie-card img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.dsmovie-card-description{
    background: var(--dark);
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;   
    min-height: 150px;
    border-left: 1px solid #7785A8;
    border-right: 1px solid #7785A8; 
    border-bottom: 1px solid #7785A8;
}

.dsmovie-card-description h3{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
    text-align: center;
}

.dsmovie-btn:hover{
    background: linear-gradient(220.94deg, #6610F2 14.43%, #9452ff 85.28%);
    transition-delay: 1s;
}

.dsmovie-btn {
    width: 180px;
    height: 44px;
    background: linear-gradient(220.94deg, #9452ff 14.43%, #6610F2 85.28%);
    color: var(--text-light);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

.dsmovie-form-container{
    padding: 40px 0;
    max-width: 480px;
    color: var(--text-light);
}
